.card {
    margin: auto; 
    float: none; 
    width: 100%; 
    max-width: 700px; 
}

.navbar {
    background-color: rgb(146, 183, 233);
}

.nav-link {
    color: black;
}

.jumbo {
    background-color: rgb(146, 183, 233); 
    padding: 4rem 2rem; 
    margin-bottom: 0; 
    color: black; 
    text-align: center; 
}

.img-ampliada {
    max-width: 80%; 
    height: auto; 
    width: 60%; 
    max-height: 400px; 
}

.mapa {
    width: 100%;
    height: 400px; 
    border: none; /
}

.footer{
    background-color: rgb(146, 183, 233); 
}

.container-fluid {
    color: black;
}

.copy {
    color: black;
}

.carousel-caption h5,
.carousel-caption p {
  color: #d4edf5; 
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
}

.btn-verde {
    background-color: #4CAF50;
    color: #287e49; 
    border-color: #4CAF50; 
}
